.footer-container {
  width: 100% !important;
  height: 15vh !important ;
  background: #eceaea;
  justify-content: center;
}

.list-container {
  padding: 20px;
  flex-grow: 0;
}
.footer-list-title {
  padding: 0px;
}

.list-link {
  color: #757272;
}

.list-item {
  padding: 0px !important;
  padding-bottom: 5px !important;
  padding-top: 10px !important;
}
