.header-container {
  width: 100% !important;
  height: 10vh !important ;
  // background: #d1c7c7;
  flex-direction: row;
}

.title {
  display: "block";
  padding: 25px;
  font-weight: bold;
}
.flex-grow {
  flex-grow: 1;
}
.search-bar {
}
.search-icon {
  position: absolute;
  background: #eceaea;
  border-radius: 5px;
  margin: 5px;
  color: #ccc;
}
.search-input-bar {
  border-radius: 5px;
  border-width: 0px;
  width: 45vw;
  height: 30px;
  padding-left: 30px;
  background: #eceaea;
}

.menuButton {
  font-size: 40px !important;
  color: #d2d1d1;
}
